body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.le{
    border-style: none;
    color: white;
    background-color: rgb(177, 101, 73);
    color: white;
}
